<div nz-row style="margin-bottom: 10px">
  <nz-datepicker class="trace-search" [(ngModel)]="searchViewModel.startTimestamp" nzShowTime [nzPlaceHolder]="'select startTime'"
    [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
  <nz-datepicker class="trace-search" [(ngModel)]="searchViewModel.finishTimestamp" nzShowTime [nzPlaceHolder]="'select finishTime'"
    [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
  <button style="margin: 5px;" nz-button [nzType]="'default'" (click)="refreshData()">
    <span>Analyse</span>
  </button>
</div>
<nz-spin [nzSpinning]="loading">
  <div id="chart" ng-row class="graph" [style.height]="chartHeight"></div>
</nz-spin>

  
