<div nz-row>
  <nz-datepicker class="trace-search" [(ngModel)]="searchViewModel.startTimestamp" nzShowTime [nzPlaceHolder]="'select startTime'"
    [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
  <nz-datepicker class="trace-search" [(ngModel)]="searchViewModel.finishTimestamp" nzShowTime [nzPlaceHolder]="'select finishTime'"
    [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
  <button style="margin: 5px;" nz-button [nzType]="'default'" (click)="refreshData()">
    <span>Analyse</span>
  </button>
</div>
<div ng-row id="main" class="graph">
  <div style="text-align:center;display:none">
    No data
  </div>
</div>
