<nz-table #nzTable [nzSize]="'middle'" [nzDataSource]="models" [nzPageSize]="10">
  <thead nz-thead>
    <tr>
      <th nz-th><span>Trace Id</span></th>
      <th nz-th><span>Services</span></th>
      <th nz-th><span>Duration</span></th>
      <th nz-th><span>Start Time</span></th>
      <th nz-th><span>Finish Time</span></th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let model of models">
      <td nz-td>
        <a>{{model}}</a>
      </td>
      <td nz-td>{{model}}</td>
      <td nz-td>{{model}}</td>
      <td nz-td>{{model}}</td>
      <td nz-td>{{model}}</td>
    </tr>
  </tbody>
</nz-table>